<% language_tabs = current_page.data.language_tabs || [] %>

<%= partial "__partials/header" %>

<%= partial "__partials/menu" %>
	<div class="home__header-wrapper">
		<div class="logo blue">
			<h1 class="logo-title">LiveChat <span>Docs</span></h1><br/>
			<h2 class="logo-subtitle">The documentation of all LiveChat APIs and integration possibilities</h2>
			<a class="logo-github" href="https://github.com/livechat/livechat-public-docs" title="LiveChat Docs source repository" target="_blank"><span>Found a bug? Submit a pull request</span><img src="__images/github-logo.svg" width="40" alt="LiveChat Docs source repository"/></a>
		</div>
	</div>

	<div class="page-wrapper full-width">
		<%= yield %>
		<% current_page.data.includes && current_page.data.includes.each do |include| %>
		<%= partial "#{include}" %>
		<% end %>
		
		<%= partial "__partials/footer-home" %>
	</div>

<%= partial "__partials/footer" %>
