<% language_tabs = current_page.data.language_tabs || [] %>

<%= partial "__partials/header" %>

	<div class="tocify-wrapper">
		<div class="logo <%= current_page.data.themeColor %>">
			<a href="/" class="logo-header back">LiveChat Docs</a>
			<span class="logo-title"><%= current_page.data.menuTitle %></span>
		</div>

		<% if language_tabs %>
		<div class="lang-selector">
			<% language_tabs.each do |lang| %>
			<% if lang.is_a? Hash %>
			<a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
			<% else %>
			<a href="#" data-language-name="<%= lang %>"><%= lang %></a>
			<% end %>
			<% end %>
		</div>
		<% end %>

		<div id="toc" class="<%= current_page.data.themeColor %>"></div>

		<a class="cta <%= current_page.data.themeColor %> btn-sidebar" href="https://developers.livechatinc.com/console" target="_blank" rel="noopener noreferrer" title="Build and share LiveChat extensions in Developers Console">Developers Console<i class="material-icons">open_in_new</i></a>

	</div>
	<div class="page-wrapper">
		<div class="dark-box"></div>
		<div class="content">
			<%= yield %>

			<% current_page.data.includes && current_page.data.includes.each do |include| %>
			<%= partial "#{include}" %>


			<% end %>
		</div>
		<div class="dark-box">
			<% if language_tabs %>
			<div class="lang-selector">
				<% language_tabs.each do |lang| %>
				<% if lang.is_a? Hash %>
				<a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
				<% else %>
				<a href="#" data-language-name="<%= lang %>"><%= lang %></a>
				<% end %>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>

<%= partial "__partials/footer" %>